#level {
  background: #ddd;
  margin: 0 auto; }

#view {
  height: 384px;
  overflow: hidden;
  margin-top: 32px; }

.empty {
  width: 32px;
  height: 32px;
  float: left; }

.wall {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -70px -2px no-repeat; }
  .wall.red {
    background: url("/img/icons32.png") -104px -2px no-repeat; }
  .wall.green {
    background: url("/img/icons32.png") -172px -70px no-repeat; }
  .wall.black {
    background: url("/img/icons32.png") -240px -36px no-repeat; }
  .wall.fat {
    background: url("/img/icons32.png") -308px -36px no-repeat; }
  .wall.round {
    background: url("/img/icons32.png") -274px -172px no-repeat; }
  .wall.boulder {
    background: url("/img/icons32.png") -308px -172px no-repeat; }
  .wall.square {
    background: url("/img/icons32.png") -342px -2px no-repeat; }
  .wall.lattice {
    background: url("/img/icons32.png") -342px -36px no-repeat; }

.screw {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -138px -2px no-repeat; }

.bullet {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -172px -2px no-repeat; }

.box {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -206px -2px no-repeat; }
  .box.push {
    width: 32px;
    height: 32px;
    float: left;
    background: url("/img/icons32.png") -206px -206px no-repeat; }

.key {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -240px -2px no-repeat; }

.bomb {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -274px -2px no-repeat; }
  .bomb.purple {
    width: 32px;
    height: 32px;
    float: left;
    background: url("/img/icons32.png") -240px -206px no-repeat; }

.door {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -308px -2px no-repeat; }

.question {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -2px -36px no-repeat; }

.boom.little {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -36px -70px no-repeat; }
  .boom.little.animate-one {
    background: url("/img/icons32.png") -70px -70px no-repeat; }
  .boom.little.animate-two {
    background: url("/img/icons32.png") -104px -70px no-repeat; }
  .boom.little.animate-three {
    background: url("/img/icons32.png") -138px -70px no-repeat; }
.boom.big {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -2px -240px no-repeat; }
  .boom.big.animate-one {
    background: url("/img/icons32.png") -36px -240px no-repeat; }
  .boom.big.animate-two {
    background: url("/img/icons32.png") -70px -240px no-repeat; }
  .boom.big.animate-three {
    background: url("/img/icons32.png") -104px -240px no-repeat; }
  .boom.big.animate-four {
    background: url("/img/icons32.png") -138px -240px no-repeat; }

.ground {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -172px -206px no-repeat; }

.teleport {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -2px -138px no-repeat; }
  .teleport.animate-one {
    background: url("/img/icons32.png") -36px -138px no-repeat; }

.teleporting {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -342px -104px no-repeat; }
  .teleporting.animate-one {
    background: url("/img/icons32.png") -342px -138px no-repeat; }
  .teleporting.animate-two {
    background: url("/img/icons32.png") -342px -172px no-repeat; }
  .teleporting.animate-three {
    background: url("/img/icons32.png") -342px -206px no-repeat; }
  .teleporting.animate-four {
    background: url("/img/icons32.png") -342px -240px no-repeat; }

.gun {
  width: 32px;
  height: 32px;
  float: left; }
  .gun.up {
    background: url("/img/icons32.png") -274px -138px no-repeat; }
  .gun.right {
    background: url("/img/icons32.png") -172px -138px no-repeat; }
  .gun.down {
    background: url("/img/icons32.png") -206px -138px no-repeat; }
  .gun.left {
    background: url("/img/icons32.png") -240px -138px no-repeat; }
  .gun.big.up {
    background: url("/img/icons32.png") -274px -206px no-repeat; }
  .gun.big.right {
    background: url("/img/icons32.png") -274px -240px no-repeat; }
  .gun.big.down {
    background: url("/img/icons32.png") -308px -206px no-repeat; }
  .gun.big.left {
    background: url("/img/icons32.png") -308px -240px no-repeat; }

.magnet {
  width: 32px;
  height: 32px;
  float: left; }
  .magnet.up {
    background: url("/img/icons32.png") -36px -206px no-repeat; }
  .magnet.right {
    background: url("/img/icons32.png") -2px -2px no-repeat; }
  .magnet.down {
    background: url("/img/icons32.png") -2px -206px no-repeat; }
  .magnet.left {
    background: url("/img/icons32.png") -36px -2px no-repeat; }

.blaster {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -70px -138px no-repeat; }
  .blaster.animate-one {
    background: url("/img/icons32.png") -104px -138px no-repeat; }
  .blaster.animate-two {
    background: url("/img/icons32.png") -138px -138px no-repeat; }
  .blaster.animate-three {
    background: url("/img/icons32.png") -104px -138px no-repeat; }
  .blaster.animate-four {
    background: url("/img/icons32.png") -70px -138px no-repeat; }

.barrier {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -308px -104px no-repeat; }
  .barrier.other {
    background: url("/img/icons32.png") -308px -138px no-repeat; }

.robbo.right {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -2px -172px no-repeat; }
  .robbo.right.animate-one {
    background: url("/img/icons32.png") -36px -172px no-repeat; }
.robbo.down {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -70px -172px no-repeat; }
  .robbo.down.animate-one {
    background: url("/img/icons32.png") -104px -172px no-repeat; }
.robbo.left {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -138px -172px no-repeat; }
  .robbo.left.animate-one {
    background: url("/img/icons32.png") -172px -172px no-repeat; }
.robbo.up {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -206px -172px no-repeat; }
  .robbo.up.animate-one {
    background: url("/img/icons32.png") -240px -172px no-repeat; }

.bear {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -36px -36px no-repeat; }
  .bear.animate-one {
    background: url("/img/icons32.png") -70px -36px no-repeat; }
  .bear.black {
    width: 32px;
    height: 32px;
    float: left;
    background: url("/img/icons32.png") -206px -70px no-repeat; }
    .bear.black.animate-one {
      background: url("/img/icons32.png") -240px -70px no-repeat; }

.bird {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -104px -36px no-repeat; }
  .bird.animate-one {
    background: url("/img/icons32.png") -138px -36px no-repeat; }

.capsule {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -172px -36px no-repeat; }
  .capsule.animate-one {
    background: url("/img/icons32.png") -206px -36px no-repeat; }

.butterfly {
  width: 32px;
  height: 32px;
  float: left;
  background: url("/img/icons32.png") -274px -70px no-repeat; }
  .butterfly.animate-one {
    background: url("/img/icons32.png") -308px -70px no-repeat; }
